<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>swim-memo</title>
</head>
<body>
    <p id="title">[memo]메모하는곳</p>
    <button id="gotoWrite" type="button" onclick="location.href='./write' ">적으러가기</button>
    <% for(var i = 0; i < data['data'].length; i++){ %>
        <memo id=<%= data['data'][i]['date'] %>>
            <h1 id="memo_title"><%= data['data'][i]['name'] %><img onclick="location.href='/pic/<%= data['data'][i]['img'] %>'" id="memo_pic" src="./pics/<%= data['data'][i]['img'] %>"></h1>
            
            <p id="memo_date"><%= data['data'][i]['content'] %></p>
            <!--<p><%= data['data'][i]['pw'] %></p>-->
            
            <form action="/del" method="post">
                <input id="inputPW" type="text" placeholder="비번" name="delete">
                <button id="del">삭제</button>
                <input id="getDate" name="getDate" value=<%= data['data'][i]['date'] %>>
                <p><%= data['data'][i]['date'].substr(0,10) %></p>
            </form>
        </memo>
    <% } %>
    <button type="button" onclick="location.href='https://www.instagram.com/chosuyoung0413/' ">문의</button>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    html{
        font-family: 'Jua', sans-serif;
    }
    #getDate{
        display: none;
    }

    #inputPW{
        width: 70px;
        height: 20px;
    }

    #del{
        width: 40px;
        height: 25px;
    }

    html{
        background-color: #FFCAF8;
    }

    memo{
        background-color: #9CE8EE;
        border: none;
        width: fit-content;
        height: fit-content;
        margin: 5px;
        display: inline-block;
        padding: 4px;
        border-radius: 10px;
    }

    #memo_title, #memo_pic{
        display: inline;
    }

    #memo_pic{
        width: 30px;
        height: 30px;
        padding: auto;
        float: right;
        padding: 10px;
    }

    #memo_date{
        font-size: small;
    }

    button{
        border: none;
        width: 100px;
        height: 40px;
    }

    #gotoWrite{
        width: 100px;
        height: 60px;
        border-radius: 10px;
    }

    #title{
        font-size: 20px;
    }

    #gotoWrite, #title{
        position: relative;
        display: inline
    }
</style>
</html>